
body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1920px,1080px;
}

    table #anotherTable {
   margin-left:auto;
   margin-right:auto;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
}
.imgs{
    height:auto;
    width:auto;
}

ul#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

.navli {
    float: left;
}

    .navli a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Arial;
        margin-left: 300px;
    }

        .navli a:hover {
            background-color: #111;
        }
        #ClickHere{
          
            color:black;
        }
